#content {margin:0 auto;width:990px;}

h4 {margin-right:0;}

ul {list-style: disc;}

.no-border-table td {border:none;}

.table-box {width:988px;border:1px solid #000;overflow:hidden;font-size:13px;}
.table-box-long {width:1000px !important;}
.table-box li{margin-left:25px}
.table-box ol{margin-left:40px;list-style:disc;}
.table-box .table-td-left, .table-box .table-td-right {padding:5px;display:inline-block;}
.table-box .table-td-right {float:right;border-left:1px solid #000;}

.table-box .table-td-left { float:left;}

.op-no-top-border {border-top:none;}

.op-90 {width:90px;}
.op-875 {width: 800px;}
.op-480 {width:482px;}

.no-padding {padding:0px !important;}
.padding-5 {padding:5px;}
.span-html {margin-left:10px}

.h_text {color:#FFF;}